@use 'mixins';

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spe-spacing-200);

  @include mixins.mobile-only {
    flex-direction: column;
  }
}
