@use 'mixins';

.criteria-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spe-spacing-400);

  @include mixins.tablet-only {
    gap: var(--spe-spacing-200);
  }

  @include mixins.mobile-only {
    grid-template-columns: repeat(1, 1fr);
  }
}

.criteria-section {
  display: flex;
  flex-direction: column;
  gap: var(--spe-spacing-100);
  padding: var(--spe-spacing-200);
  color: var(--spe-black-color);
  border-radius: var(--spe-radius-m);
  background-color: var(--spe-white-color);

  h3 {
    display: flex;
    align-items: center;
    gap: var(--spe-spacing-200);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.is-red li:before {
      color: var(--spe-red-color);
    }

    &.is-yellow li:before {
      color: var(--spe-yellow-color);
    }

    li {
      position: relative;
      padding: var(--spe-spacing-100) 0;
      padding-left: var(--spe-spacing-200);
      border-bottom: 0.1rem solid rgba(#040404, 0.2);

      &:before {
        content: '•';
        position: absolute;
        left: 0;
        font-weight: bold;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
