@use 'mixins';

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spe-spacing-200);
  padding: var(--spe-spacing-200);
  border-radius: var(--spe-radius-m);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  }

  .list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spe-spacing-200);

    &.is-small {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mixins.mobile-only {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    .list-item {
      border-radius: var(--spe-radius-s);
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
