@use 'mixins';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: var(--spe-spacing-200);
  background: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  img {
    max-height: 90vh;
    max-width: 90vw;
    object-fit: contain;
    border-radius: var(--spe-radius-s);
  }
}

.modal-close {
  position: absolute;
  right: calc(var(--spe-spacing-400) * -1);

  @include mixins.mobile-only {
    position: fixed;
    top: var(--spe-spacing-200);
    right: var(--spe-spacing-200);
  }
}
