@use 'mixins';

.page-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spe-spacing-200);
  min-height: 90vh;
  width: 100%;
  padding: var(--spe-block-padding) 15vw;

  @include mixins.tablet-only {
    padding: var(--spe-block-padding) var(--spe-inline-padding);
  }
}
