@use 'mixins';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spe-block-padding) var(--spe-inline-padding);

  &.is-red {
    color: var(--spe-white-color);
    background-color: var(--spe-red-color);
  }

  &.is-blue {
    color: var(--spe-white-color);
    background-color: var(--spe-blue-color);
  }

  &.is-small {
    .section-container {
      width: 50%;

      @include mixins.tablet-only {
        width: 70%;
      }

      @include mixins.mobile-only {
        width: 100%;
      }
    }
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spe-spacing-200);
  width: 65%;
  margin: auto;

  @include mixins.tablet-only {
    width: 80%;
  }

  @include mixins.mobile-only {
    width: 100%;
  }
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spe-spacing-200);
  text-align: center;

  mat-icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.section-subtitle {
  text-align: center;
}
