@use 'mixins';

:host {
  display: contents;
}

.gallery {
  &::after {
    background-size: 12vw;
    background-position: 2.5% 2.5%;
    background-image: url('../../../../assets/illus/deco_01.png');
  }

  &::before {
    background-size: 15vw;
    background-position: 97.5% 97.5%;
    background-image: url('../../../../assets/illus/deco_02.png');
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spe-spacing-400);

  @include mixins.mobile-only {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spe-spacing-200);
  }
}

.gallery-item {
  position: relative;
  border-radius: var(--spe-radius-m);
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

    .gallery-item-overlay {
      opacity: 1;
    }
  }

  img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: var(--spe-radius-m);
  }
}

.gallery-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--spe-spacing-200);
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: var(--spe-radius-m);
  background-color: rgba(0, 0, 0, 0.75);
}

.gallery-item-category {
  display: inline-block;
  padding: var(--spe-spacing-100) var(--spe-spacing-200);
  margin-bottom: var(--spe-spacing-100);
  border-radius: var(--spe-radius-m);
  background-color: rgba(255, 255, 255, 0.25);
}
