@if (dailys?.length || optionnalDailys?.length) {
  <div class="u-displayFlex u-flexDirectionColumn pr-u-gap200">
    @if (dailys?.length) {
      <section class="card">
        <div class="u-displayFlex u-alignItemsCenter pr-u-gap100">
          <h2 class="u-h3">Quêtes obligatoires</h2>
          <lu-tag [label]="currentDate() | dayOfWeek" [palette]="isOld() ? 'neutral' : 'product'" size="L" />
        </div>
        <div class="grid pr-u-marginTop100" style="--grid-columns: 4; --grid-colspan: 4">
          @for (daily of dailys; track daily.id) {
            <daily-card [currentDate]="currentDate()" [quest]="daily.quest" [isOld]="isOld()" [isOptionnal]="false" />
          }
        </div>
      </section>
    }
    @if (optionnalDailys?.length) {
      <section class="card">
        <div class="u-displayFlex u-alignItemsCenter pr-u-gap100">
          <h2 class="u-h3">Quêtes optionnelles</h2>
        </div>
        <div class="grid pr-u-marginTop100" style="--grid-columns: 4; --grid-colspan: 4">
          @for (daily of optionnalDailys; track daily.id) {
            <daily-card [currentDate]="currentDate()" [quest]="daily.quest" [isOld]="isOld()" [isOptionnal]="true" />
          }
        </div>
      </section>
    }
  </div>
} @else {
  <div class="card">
    <lu-empty-state-section
      hx="3"
      icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperAction.svg"
      heading="Aucune quête en cours"
      description="Tu peux aller en sélectionner dans la liste des quêtes."
    >
      <a routerLink="/quetes" luButton> Voir les quêtes disponibles </a>
    </lu-empty-state-section>
  </div>
}
