<div class="card" [class.mod-center]="isCenter()" [class.mod-main]="isMain()">
  @if (isMain()) {
    <h1 class="card-heading">{{ heading() }}</h1>
    <p class="u-h2 card-subtitle" [class.u-textCenter]="isCenter()">{{ subtitle() }}</p>
  } @else if (isSubMain()) {
    <h2 class="card-heading">{{ heading() }}</h2>
    <p class="u-h3 card-subtitle" [class.u-textCenter]="isCenter()">{{ subtitle() }}</p>
  } @else {
    <h3 class="card-heading">{{ heading() }}</h3>
    <p class="u-h4 card-subtitle" [class.u-textCenter]="isCenter()">{{ subtitle() }}</p>
  }
  <ng-content></ng-content>
</div>
