@use 'mixins';

:host {
  display: contents;
}

.stats-card {
  display: flex;
  flex-direction: column;
  gap: var(--spe-spacing-200);
  padding: var(--spe-spacing-200);
  border-radius: var(--spe-radius-m);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  }
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spe-spacing-200);

  @include mixins.mobile-only {
    grid-template-columns: repeat(1, 1fr);
  }
}

.stat-card {
  display: flex;
  align-items: center;
  gap: var(--spe-spacing-200);
  padding: var(--spe-spacing-100);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0.5rem solid var(--trait-color);
  border-radius: var(--spe-radius-m);
}

.stat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  background-color: var(--trait-color);
}
