<section class="stats section is-blue has-illus" [class.is-max]="isTest()" appObserveSection id="personnalite">
  <div class="section-container">
    <h2 class="section-title">🧔 Ma Personnalité</h2>
    <p class="section-subtitle">En essayant d'être le plus exhaustif, et objectif ?</p>

    <app-note icon="🦁​​" heading="Profil INFJ et Signe du Lion" [isDark]="true">
      <p>
        INFJ, je suis du genre à observer / juger longtemps avant de me livrer : l’empathie et l’intuition guident
        beaucoup mes choix. Ajoute à ça au stéréotype du signe Lion auquel je peux potentiellement m'identifier, et tu
        obtiens quelqu’un de discret en public mais capable d'étinceller, de libérer mon énergie pour les bonnes
        personnes... ou prendre un peu trop de place ?
      </p>
      @if (isTest()) {
        <mat-button-toggle-group
          name="astro"
          class="u-marginTop100"
          [hideSingleSelectionIndicator]="true"
          [(ngModel)]="item.astro"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-button-toggle [value]="false">❌​</mat-button-toggle>
          <mat-button-toggle [value]="null">❔​</mat-button-toggle>
          <mat-button-toggle [value]="true">✔️​</mat-button-toggle>
        </mat-button-toggle-group>
      }
    </app-note>

    <div class="list">
      <h3>👍​ Aspects que tu pourrais aimer</h3>
      <div class="list-grid">
        @for (quality of qualityList; track $index) {
          <div class="list-item stat-item" [style.--trait-color]="quality.color">
            <div class="stat-icon">
              {{ quality.icon }}
            </div>
            <div>
              <h4>{{ quality.title }}</h4>
              <p>{{ quality.description }}</p>
              @if (isTest()) {
                <mat-button-toggle-group
                  name="quality0{{ $index }}"
                  class="u-marginTop100"
                  [hideSingleSelectionIndicator]="true"
                  [(ngModel)]="qualities[$index]"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-button-toggle [value]="false">❌​</mat-button-toggle>
                  <mat-button-toggle [value]="null">❔​</mat-button-toggle>
                  <mat-button-toggle [value]="true">✔️​</mat-button-toggle>
                </mat-button-toggle-group>
              }
            </div>
          </div>
        }
      </div>
    </div>

    <div class="list">
      <h3>❌ Aspects que tu pourrais ne pas aimer</h3>
      <div class="list-grid">
        @for (flaw of flawList; track $index) {
          <div class="list-item stat-item" [style.--trait-color]="flaw.color">
            <div class="stat-icon">
              {{ flaw.icon }}
            </div>
            <div>
              <h4>{{ flaw.title }}</h4>
              <p>{{ flaw.description }}</p>
              @if (isTest()) {
                <mat-button-toggle-group
                  name="flaw0{{ $index }}"
                  class="u-marginTop100"
                  [hideSingleSelectionIndicator]="true"
                  [(ngModel)]="flaws[$index]"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-button-toggle [value]="false">❌​</mat-button-toggle>
                  <mat-button-toggle [value]="null">❔​</mat-button-toggle>
                  <mat-button-toggle [value]="true">✔️​</mat-button-toggle>
                </mat-button-toggle-group>
              }
            </div>
          </div>
        }
      </div>
    </div>

    @if (isTest()) {
      <app-card heading="✍️ Ton avis">
        <form class="u-width100">
          <p class="u-textBold u-marginBottom100">Tu peux indiquer ton avis sur certains de mes aspects ci-dessus ⬆️</p>
          <ul>
            <li>❌ : C'est pas OK pour toi / tu n'aimes pas</li>
            <li>❔ : Pas d'avis</li>
            <li>✔️ : C'est OK pour toi / t'aimes bien</li>
          </ul>
        </form>
      </app-card>
      <div class="buttons">
        <button mat-flat-button (click)="previous()">
          <i class="icon-arrow-left"></i>
          Précédent
        </button>
        <button mat-flat-button color="primary" (click)="next()">
          Suivant
          <i class="icon-arrow-right"></i>
        </button>
      </div>
    }
  </div>
</section>
