@use 'mixins';

:host {
  display: contents;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: var(--spe-spacing-200);
  padding: var(--spe-spacing-100);
  border-left: var(--spe-spacing-50) solid var(--trait-color);
}

.stat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  min-height: 3rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  border-radius: 50%;
  background-color: var(--trait-color);
}
