@use 'mixins';

:host {
  display: contents;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spe-spacing-600);
  padding: var(--spe-spacing-600) var(--spe-inline-padding) var(--spe-spacing-400) var(--spe-inline-padding);
  text-align: center;
  color: var(--spe-white-color);
  background-color: var(--spe-primary-color);

  @include mixins.tablet-only {
    padding: var(--spe-spacing-600) var(--spe-inline-padding) var(--spe-spacing-300) var(--spe-inline-padding);
  }

  .footer-section {
    display: flex;
    justify-content: space-around;
    gap: var(--spe-spacing-300);
    width: 100%;

    @include mixins.mobile-only {
      flex-direction: column-reverse;
    }
  }
}
