<div class="welcome-news">
  <div class="u-width50">
    <card heading="Dernière actualité" subtitle="Concours Ma Bulle Art to Play 2025">
      <div class="u-flexRow u-flexColumn-on-tablet u-gap400">
        <img class="welcome-news-image" src="assets/welcome/article.jpg" alt="Image du dernier article" />
        <div>
          <p>
            <b>Comment participer ?</b>
            <br />MABULLE c'est un concours individuel de dessin qui se déroule AVANT le festival: un concours de dessin
            réservé aux dessinateurs sélectionnés dans l'espace des artistes d'Art to Play. La participation à Ma Bulle
            est obligatoire pour tous les artistes bénéficiant d'un stand à Art to Play. Chaque participant doit
            présenter une oeuvre qu'il a faite seul de A à Z. Il ne peut pas se faire à plusieurs, ni à l'aide d'une
            intelligence artificielle...
          </p>
          <a
            mat-flat-button
            color="primary"
            class="u-marginTop200"
            href="https://boutique.exponantes.com/Accueil-Boutique/trk/A2Psite"
          >
            Lire la suite
            <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
    </card>
  </div>
</div>
