@use 'mixins';

:host {
  display: contents;
}

header {
  --size-logo: 6.5rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spe-spacing-300);
  padding: var(--spe-spacing-300) var(--spe-inline-padding);
  background-color: var(--spe-primary-color);

  @include mixins.tablet-only {
    --size-logo: 3.5rem;
    gap: var(--spe-spacing-200);
    padding: var(--spe-spacing-200) var(--spe-inline-padding);
  }

  @include mixins.mobile-only {
    --size-logo: 2.5rem;
    padding: var(--spe-spacing-200) var(--spe-inline-padding);
  }

  .header-logo {
    position: absolute;
    top: var(--spe-spacing-200);
    left: var(--spe-inline-padding);
    height: var(--size-logo);
  }

  .header-action-link {
    @include mixins.mobile-only {
      display: none;
    }
  }

  .header-action-menu {
    display: none;

    @include mixins.mobile-only {
      display: block;
      color: var(--spe-white-color);
    }
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: var(--spe-spacing-600);
    row-gap: var(--spe-spacing-200);
    padding: 0 calc(var(--size-logo) * 1.65 + var(--spe-spacing-200));

    @include mixins.tablet-only {
      column-gap: var(--spe-spacing-300);
    }

    @include mixins.mobile-only {
      display: none;
    }
  }

  .header-mobile-menu {
    display: none;

    @include mixins.mobile-only {
      position: fixed;
      inset: 0;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spe-spacing-300);
      padding: calc(3rem + var(--spe-spacing-300)) var(--spe-inline-padding) var(--spe-spacing-300) var(--spe-inline-padding);
      text-align: center;
      color: var(--spe-white-color);
      background-color: var(--spe-primary-color);
      overflow: auto;
    }
  }

  .header-close-menu {
    position: absolute;
    top: var(--spe-spacing-200);
    right: var(--spe-inline-padding);
    color: var(--spe-white-color);
  }

  .header-mobile-logo {
    width: 80%;
  }

  .header-mobile-divider {
    min-height: 1px;
    width: 100%;
    background-color: var(--spe-white-color);
  }
}
