<div class="welcome-top background">
  <img class="welcome-top-image" src="assets/logo.png" alt="Logo" />
  <h1 class="u-mask">Art to Play Nantes</h1>
  <h2 class="u-h1">15 au 16 Novembre 2025<br />à Exponantes</h2>
  <a
    mat-flat-button
    color="primary"
    href="https://boutique.exponantes.com/Accueil-Boutique/trk/A2Psite"
    target="_blank"
    rel="noopener noreferrer"
  >
    Billetterie ouverte
    <i class="icon-external-link"></i>
  </a>
</div>

<welcome-news />

<div class="welcome-grid">
  <div class="welcome-item" [ngStyle]="{ 'background-image': 'url(../../assets/welcome/news.png)' }"></div>
  <div class="welcome-item">
    <h2 class="welcome-item-heading u-underline">
      <i class="icon-quill"></i>
      <span>Actualités</span>
    </h2>
    <p class="u-marginBottom200">
      Trouvez ici les dernières actualités ! Annonces d'invités, ouvertures de billetterie, révélations sur les
      animations, concours à venir... De nouvelles publications arrivent régulièrement, alors revenez souvent pour ne
      rien manquer !
    </p>
    <a mat-flat-button color="primary" routerLink="/actualites">
      Consulter les autres actualités
      <i class="icon-arrow-right"></i>
    </a>
  </div>
  <div class="welcome-item">
    <h2 class="welcome-item-heading u-underline">
      <i class="icon-ticket"></i>
      <span>Billetterie</span>
    </h2>
    <p class="u-marginBottom200">
      Réservez dès maintenant vos billets pour Art To Play avec notre partenaire Exponantes. Accédez à l'événement en
      toute sérénité et profitez pleinement de votre expérience ! Ne tardez pas : les places partent vite !
    </p>
    <a mat-flat-button color="primary" href="https://boutique.exponantes.com/Accueil-Boutique/trk/A2Psite">
      Accéder à la billetterie
      <i class="icon-external-link"></i>
    </a>
  </div>
  <div class="welcome-item" [ngStyle]="{ 'background-image': 'url(../../assets/welcome/billetterie.jpg)' }"></div>
</div>

<welcome-guests />

<div class="welcome-grid mod-inverted">
  <div class="welcome-item">
    <h2 class="welcome-item-heading u-underline">
      <i class="icon-calendar"></i>
      <span>Programme</span>
    </h2>
    <p class="u-marginBottom200">
      Participez à des tournois de jeux vidéo, assistez à des shows cosplay spectaculaires, explorez des ateliers
      créatifs et plongez dans des univers variés avec nos conférences et animations. Que vous soyez curieux, passionné
      ou en famille, le salon regorge d'activités pour tous les profils.
    </p>
    <a mat-flat-button color="primary" routerLink="/programme">
      Consulter les activités
      <i class="icon-arrow-right"></i>
    </a>
  </div>
  <div class="welcome-item" [ngStyle]="{ 'background-image': 'url(../../assets/welcome/activities.jpg)' }"></div>
</div>

<welcome-people />

<div class="welcome-grid">
  <div class="welcome-item" [ngStyle]="{ 'background-image': 'url(../../assets/welcome/faqs.jpg)' }"></div>
  <div class="welcome-item">
    <h2 class="welcome-item-heading u-underline">
      <i class="icon-book"></i>
      <span>FAQs, Règles et Guides</span>
    </h2>
    <p class="u-marginBottom200">
      Une question ? Un doute sur une règle ? Besoin d'un coup de pouce, ou simplement de savoir comment rejoindre la
      convention ? Retrouvez ici toutes les réponses, les règles officielles et des guides pour vous accompagner à Art
      To Play.
    </p>
    <a mat-flat-button color="primary" routerLink="/foire-aux-questions">
      Consulter les infos pratiques
      <i class="icon-arrow-right"></i>
    </a>
  </div>
</div>

<welcome-contact />
