<section class="hobbies section is-blue has-illus" [class.is-max]="isTest()" appObserveSection id="passions">
  <div class="hobbies-illu"></div>
  <div class="section-container">
    <h2 class="section-title">✨​ Passions, Hobbies</h2>
    <p class="section-subtitle">Un petit aperçu de ce qui me fait vibrer, ou titile mon imaginaire !</p>
    <div class="list">
      <h3>🎧 Musiques</h3>
      <p>
        J'écoute un peu de tout : mais principalement ce qui peut être chanté, évacuer mes émotions, me redonner
        confiance, ou faire du sport. Et en dehors de cette rapide liste... tout ce qui est "sassy bitch".<br />
        J'ai un peu de mal avec les musiques françaises, et une culture musicale à déplorer !
      </p>
      <div class="list-grid is-small">
        @for (music of musicFavorites; track music.title) {
          <div class="list-item hobby-item">
            <img class="hobby-img" [src]="music.src" alt="" />
            <h4 class="u-textYellow">{{ music.title }}</h4>
            <p class="u-textItalic u-textS">{{ music.genre }}</p>
            <p class="u-textS">{{ music.why }}</p>
            @if (isTest()) {
              <mat-button-toggle-group
                name="music0{{ $index }}"
                [hideSingleSelectionIndicator]="true"
                [(ngModel)]="musics[$index]"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-button-toggle [value]="false">❌​</mat-button-toggle>
                <mat-button-toggle [value]="null">❔​</mat-button-toggle>
                <mat-button-toggle [value]="true">✔️​</mat-button-toggle>
              </mat-button-toggle-group>
            }
          </div>
        }
      </div>
    </div>
    <div class="list">
      <h3>🎮 Jeux Vidéo</h3>
      <p>
        J'adore les jeux coopératifs, horreur (tant que c'est pas des screamers) pour jouer avec mes potes. Mais j'ai
        quelques coups de coeur sur des jeux indés. Je me suis limité dans cette liste mais y a aussi Final Fantasy X,
        Life Is Strange, Dead by Daylight...
      </p>
      <div class="list-grid is-small">
        @for (game of gameFavorites; track game.title) {
          <div class="list-item hobby-item">
            <img class="hobby-img" [src]="game.src" alt="" />
            <h4 class="u-textYellow">{{ game.title }}</h4>
            <p class="u-textItalic u-textS">{{ game.genre }}</p>
            <p class="u-textS">{{ game.why }}</p>
            @if (isTest()) {
              <mat-button-toggle-group
                name="game0{{ $index }}"
                [hideSingleSelectionIndicator]="true"
                [(ngModel)]="games[$index]"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-button-toggle [value]="false">❌​</mat-button-toggle>
                <mat-button-toggle [value]="null">❔​</mat-button-toggle>
                <mat-button-toggle [value]="true">✔️​</mat-button-toggle>
              </mat-button-toggle-group>
            }
          </div>
        }
      </div>
    </div>
    <div class="list">
      <h3>🎬 Séries</h3>
      <p>
        Je suis + séries que films, fan de lore fantastique, d'horreur, médical, d'enquête... un peu d'animes également.
        Très fleur bleue en général. Comme pour la musique, j'ai un peu de mal avec ce qui est français, et une culture
        cinématographique de même à déplorer !
      </p>
      <div class="list-grid is-small">
        @for (movie of movieFavorites; track movie.title) {
          <div class="list-item hobby-item">
            <img class="hobby-img" [src]="movie.src" alt="" />
            <h4 class="u-textYellow">{{ movie.title }}</h4>
            <p class="u-textItalic u-textS">{{ movie.genre }}</p>
            <p class="u-textS">{{ movie.why }}</p>
            @if (isTest()) {
              <mat-button-toggle-group
                name="movie0{{ $index }}"
                [hideSingleSelectionIndicator]="true"
                [(ngModel)]="movies[$index]"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-button-toggle [value]="false">❌​</mat-button-toggle>
                <mat-button-toggle [value]="null">❔​</mat-button-toggle>
                <mat-button-toggle [value]="true">✔️​</mat-button-toggle>
              </mat-button-toggle-group>
            }
          </div>
        }
      </div>
    </div>
    <div class="list">
      <h3>🎲🌷 Et plein d'autres choses !</h3>
      <p>
        Le jardinage et les plantes, le Jeu de Rôles, les Legos, un peu de cuisine (quand j'ai pas la flemme), la cardio
        (quand j'ai la motiv d'aller à la salle), les potions décoratives... et récemment un essai de me transformer en
        drag queen (nommée Lolo Réal) sans aucun talent en maquillage.
      </p>
    </div>

    @if (isTest()) {
      <app-card heading="✍️ Ton avis">
        <form class="u-width100 u-flexColumn u-gap200">
          <div class="u-flexColumn u-gap100">
            <p class="u-textBold">Tu peux également indiquer ton avis sur certains de mes goûts ci-dessus ⬆️</p>
            <ul>
              <li>❌ : C'est pas OK pour toi / tu n'aimes pas</li>
              <li>❔ : Pas d'avis</li>
              <li>✔️ : C'est OK pour toi / t'aimes bien</li>
            </ul>
          </div>
          <div class="u-flexColumn u-gap100">
            <mat-label>Tu te vois t'enjailler / chanter / écouter ma musique ?</mat-label>
            <mat-slider [min]="0" [max]="5" [step]="1" [discrete]="true" [showTickMarks]="true" color="warn">
              <input matSliderThumb [(ngModel)]="item.musics" [ngModelOptions]="{ standalone: true }" #slider />
            </mat-slider>
          </div>
          <div class="u-flexColumn u-gap100">
            <mat-label>Tu te vois jouer avec moi ?</mat-label>
            <mat-slider [min]="0" [max]="5" [step]="1" [discrete]="true" [showTickMarks]="true" color="warn">
              <input matSliderThumb [(ngModel)]="item.games" [ngModelOptions]="{ standalone: true }" #slider />
            </mat-slider>
          </div>
          <div class="u-flexColumn u-gap100">
            <mat-label>Tu te vois mater des séries avec moi ?</mat-label>
            <mat-slider [min]="0" [max]="5" [step]="1" [discrete]="true" [showTickMarks]="true" color="warn">
              <input matSliderThumb [(ngModel)]="item.movies" [ngModelOptions]="{ standalone: true }" #slider />
            </mat-slider>
          </div>
          <div class="u-flexColumn u-gap100">
            <mat-label>Tu penses qu'on a d'autres passions en commun ?</mat-label>
            <mat-slider [min]="0" [max]="5" [step]="1" [discrete]="true" [showTickMarks]="true" color="warn">
              <input matSliderThumb [(ngModel)]="item.others" [ngModelOptions]="{ standalone: true }" #slider />
            </mat-slider>
          </div>
        </form>
      </app-card>
      <div class="buttons">
        <button mat-flat-button (click)="previous()">
          <i class="icon-arrow-left"></i>
          Précédent
        </button>
        <button mat-flat-button color="primary" (click)="next()">
          Suivant
          <i class="icon-arrow-right"></i>
        </button>
      </div>
    }
  </div>
</section>
