@use 'mixins';

:host {
  display: contents;
}

.hobbies {
  &::after {
    background-size: 15vw;
    background-position: 0% 2.5%;
    background-image: url('../../../../assets/illus/deco_11.png');
  }

  &::before {
    background-size: 15vw;
    background-position: 100% 50%;
    background-image: url('../../../../assets/illus/deco_12.png');
  }

  .hobbies-illu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: 13.5vw;
    background-position: 2.5% 97.5%;
    background-image: url('../../../../assets/illus/deco_06.png');

    @include mixins.tablet-only {
      display: none;
    }
  }
}

.hobby-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spe-spacing-50);
  padding: var(--spe-spacing-100);
  border-left: var(--spe-spacing-50) solid var(--spe-yellow-color);

  .hobby-img {
    height: 8rem;
    width: 8rem;
    border-radius: var(--spe-radius-s);
  }

  .hobby-genre {
    font-style: italic;
  }
}
