@use 'mixins';

:host {
  display: contents;
}

.hobby-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spe-spacing-50);
  padding: var(--spe-spacing-100);
  border-left: var(--spe-spacing-50) solid var(--spe-yellow-color);

  .hobby-img {
    height: 8rem;
    width: 8rem;
    border-radius: var(--spe-radius-s);
  }

  .hobby-genre {
    font-style: italic;
  }
}
