<div class="welcome-contact">
  <div class="u-width50">
    <card
      heading="Contactez-nous"
      subtitle="Une question ? Une idée ? Un partenariat ?"
      [isSubMain]="true"
      [isCenter]="true"
    >
      <p>
        Notre équipe est à votre écoute ! Que vous soyez visiteur, exposant, artiste ou simplement curieux, n'hésitez
        pas à nous écrire. Nous ferons de notre mieux pour vous répondre rapidement.
      </p>
    </card>
  </div>
  <a mat-flat-button color="primary" routerLink="/contact">
    Nous contacter
    <i class="icon-bubble"></i>
  </a>
</div>
