<section class="contact section is-small background" [class.is-max]="isTest()" appObserveSection id="contact">
  <div class="section-container u-marginTop400 u-marginBottom400">
    @if (!isTest()) {
      <app-card heading="Résultat du test" subtitle="Description du résultat" [isCenter]="true">
        <p>Description du résultat</p>
      </app-card>
      <div class="buttons">
        <button mat-flat-button color="warn" (click)="previous()">
          <i class="icon-spinner"></i>
          Réinitialiser le test
        </button>
      </div>
    }
    <app-card heading="💬​ Contactes-moi" subtitle="Si t'as survécu à la lecture !" [isCenter]="true">
      <p>
        Et si ce que tu as lu t’a donné envie de discuter, de partager une idée ou juste de dire un "Salut", n'hésites
        pas à me contacter sur un des réseaux...
      </p>
    </app-card>
    <div class="buttons">
      <a
        mat-flat-button
        color="primary"
        href="https://www.instagram.com/nicholas.spef"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="icon-instagram"></i>
        Instagram perso
      </a>
      <a mat-flat-button href="https://discord.com">
        <i class="icon-discord"></i>
        #spefire
      </a>
    </div>
    <div class="contact-footer">
      <p>Site créé en 2025 par Spefire</p>
      <span>•</span>
      <a href="./mentions-legales"> Mentions légales </a>
    </div>
  </div>
</section>
