@use 'mixins';

:host {
  display: contents;
}

.contact {
  .contact-score {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    transform: rotate(25deg);

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background-color: var(--spe-yellow-color);
      transform: translate(-50%, -50%);
      content: '';
    }
  }

  .contact-footer {
    display: flex;
    align-items: center;
    gap: var(--spe-spacing-200);
    margin-top: var(--spe-spacing-400);

    @include mixins.mobile-only {
      flex-direction: column;
      gap: 0;
    }
  }
}
