<section class="contact section is-small background" appObserveSection id="contact">
  <div class="section-container u-marginTop400 u-marginBottom400">
    <app-card
      heading="💬​ Contactes-moi"
      subtitle="Si t'as survécu à la lecture !"
      [isSubMain]="true"
      [isCenter]="true"
    >
      <p>
        Et si ce que tu as lu t’a donné envie de discuter, de partager une idée ou juste de dire un "Salut", n'hésites
        pas à me contacter sur un des réseaux...
      </p>
    </app-card>
    <div class="contact-buttons">
      <a
        mat-flat-button
        color="primary"
        href="https://www.instagram.com/nicholas.spef"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="icon-instagram"></i>
        Instagram perso
      </a>
      <a mat-flat-button href="https://discord.com" disabled>
        <i class="icon-discord"></i>
        #spefire
      </a>
    </div>
    <div class="contact-footer">
      <p>Site créé en 2025 par Spefire</p>
      <span>•</span>
      <a href="./mentions-legales"> Mentions légales </a>
    </div>
  </div>
</section>
