@use '@lucca-front/scss/src/commons/utils/media';

.appLayout {
  background-color: #839ae4;
}

.mainLayout {
  &::after,
  &::before {
    position: absolute;
    inset: 1rem;
    z-index: -1;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: bottom right;
    pointer-events: none;
    content: '';
  }

  &::after {
    background-image: url(https://images.ctfassets.net/qyr5bjm559gz/96SJmn4pKiy0Gp2GVMmoI/c059e2e987bff6e9dc061210be86c825/ormuu-plush-392px-width.png?fm=webp);
  }

  &::before {
    background-image: url(https://images.ctfassets.net/qyr5bjm559gz/2N0SLDozjT8CQm2ggfwM5K/6f753e8a86e52504664e36e90bac22b9/mob-ppl-of-palia-tish.png?fm=webp);
  }
}
