@use '@lucca-front/scss/src/commons/utils/media';
@use '@lucca-front/icons/src/commons/utils/icon';

.appLayout {
  background-color: #839ae4;
}

.mainLayout {
  &::after,
  &::before {
    position: absolute;
    inset: var(--pr-t-spacings-200);
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: bottom right;
    pointer-events: none;
    content: '';
  }

  @include media.min('XS') {
    &::after {
      background-image: url(https://images.ctfassets.net/qyr5bjm559gz/96SJmn4pKiy0Gp2GVMmoI/c059e2e987bff6e9dc061210be86c825/ormuu-plush-392px-width.png?fm=webp);
    }
  }

  @include media.min('S') {
    &::before {
      background-image: url(https://images.ctfassets.net/qyr5bjm559gz/2N0SLDozjT8CQm2ggfwM5K/6f753e8a86e52504664e36e90bac22b9/mob-ppl-of-palia-tish.png?fm=webp);
    }
  }

  .mainLayout-content-inside-block:first-of-type {
    margin-block-start: 0 !important;
  }
}

// --- DETAILS / SUMMARY ---

details {
  summary {
    display: flex;
    align-items: center;
    gap: var(--pr-t-spacings-100);
    list-style: none;
    cursor: pointer;
  }
}

// --- SEGMENTED CONTROLS ---

@include media.max('XS') {
  .segmentedControl,
  .viewTabs {
    --components-segmentedControl-direction: column !important;
    --components-segmentedControl-width: 100% !important;
  }
}
