@use 'mixins';

:host {
  display: contents;
}

.topic-item {
  display: flex;
  align-items: center;
  gap: var(--spe-spacing-200);
  padding: var(--spe-spacing-100);
  border-left: var(--spe-spacing-50) solid var(--spe-red-color);
}

.topic-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  min-height: 3rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  border-radius: 50%;
  background-color: var(--spe-red-color);
}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spe-spacing-200);
  padding: var(--spe-spacing-200);
  border-left: var(--spe-spacing-50) solid var(--spe-red-color);
}

.hot-item {
  position: relative;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

    .hot-item-overlay {
      opacity: 1;
    }
  }

  img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: var(--spe-radius-s);
  }
}

.hot-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--spe-spacing-200);
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: var(--spe-radius-s);
  background-color: rgba(0, 0, 0, 0.75);
}
