<section class="hot section is-red has-illus" [class.is-max]="isTest()" appObserveSection id="sexe">
  <div class="section-container">
    <h2 class="section-title">🔥 Section + Hot 🔥</h2>
    <p class="section-subtitle">Contenu à révéler avec précaution</p>

    @if (!isRevealed) {
      <div class="list">
        <h3>⚠️ Contenu un peu sensible</h3>
        <p>
          Cette section contient des informations plus intimes sur mes préférences et attentes sexuelles.<br />
          Cliquez seulement si vous êtes prêt(e) à en savoir plus !
        </p>
        <button mat-flat-button color="warn" (click)="checkPassword('safe')">Révéler le contenu</button>
      </div>
    } @else {
      <div class="list">
        <h3>🔥 Mes préférences intimes</h3>
        <div class="list-grid">
          <div *ngFor="let topic of hotTopics" class="list-item topic-item">
            <div class="topic-icon">
              {{ topic.icon }}
            </div>
            <div>
              <h4>{{ topic.title }}</h4>
              <p>{{ topic.description }}</p>
            </div>
          </div>
        </div>
        <div class="u-flexRow u-justifyCenter">
          <a
            mat-flat-button
            color="primary"
            href="https://www.instagram.com/penseesdungay"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="icon-instagram"></i>
            Instagram hot
          </a>
        </div>
      </div>
      @if (isTest() && !isRevealedHot) {
        <app-card heading="✍️ Ton avis">
          <form class="u-width100 u-flexColumn u-gap100">
            <mat-label>Tu penses qu'on serait sexuellement compatible à quel point ?</mat-label>
            <mat-slider [min]="0" [max]="10" [step]="1" [discrete]="true" [showTickMarks]="true" color="warn">
              <input matSliderThumb [(ngModel)]="item.sexe" [ngModelOptions]="{ standalone: true }" #slider />
            </mat-slider>
          </form>
        </app-card>
      }
      @if (!isRevealedHot) {
        <div class="list">
          <h3>⚠️ Contenu ultra-sensible</h3>
          <p>
            Cette section contient des informations encore plus + intimes et une photo.<br />
            Cliquez seulement si vous êtes prêt(e) à en savoir plus !
          </p>
          <form>
            <mat-form-field>
              <mat-label>Mot de passe</mat-label>
              <input
                matInput
                type="password"
                [(ngModel)]="passwordHot"
                [ngModelOptions]="{ standalone: true }"
                (keyup.enter)="checkPassword('hot')"
              />
            </mat-form-field>
            <button
              class="u-marginTop100"
              mat-flat-button
              color="warn"
              (click)="checkPassword('hot')"
              [disabled]="passwordHot !== HOT_PASSWORD"
            >
              Révéler le contenu
            </button>
          </form>
        </div>
      } @else {
        <div class="list">
          <h3>🔞​ Données sexuelles</h3>
          <div class="list-grid">
            <div class="list-item data-item">
              <h4>Corps</h4>
              <ul>
                <li *ngFor="let stat of stats">
                  {{ stat.key }} : <b>{{ stat.value }}</b>
                </li>
              </ul>
              <h4>Sexe</h4>
              @if (!isRevealedVeryHot) {
                <form>
                  <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input
                      matInput
                      type="password"
                      [(ngModel)]="passwordVeryHot"
                      [ngModelOptions]="{ standalone: true }"
                      (keyup.enter)="checkPassword('very')"
                    />
                  </mat-form-field>
                  <button
                    class="u-marginTop100"
                    mat-flat-button
                    color="warn"
                    (click)="checkPassword('very')"
                    [disabled]="passwordVeryHot !== VERY_HOT_PASSWORD"
                  >
                    Révéler le contenu
                  </button>
                </form>
              } @else {
                <ul>
                  <li *ngFor="let stat of otherStats">
                    {{ stat.key }} : <b>{{ stat.value }}</b>
                  </li>
                </ul>
              }
              <h4>Autres infos</h4>
              <p>
                Je suis long à atteindre l'orgasme, ça ne veut pas dire que je ne prends pas mon pied. Si je ne finis
                pas, c'est "pas grave" de mon côté !
              </p>
            </div>
            <div class="list-item hot-item" (click)="openPhoto()">
              <img src="assets/gallery/me-hot.jpg" alt="" />
              <div class="hot-item-overlay">
                <p>Un p'tit aperçu...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="criteria-sections">
          <div class="criteria-section">
            <h3>👍​ Ce qui est OK pour moi</h3>
            <ul class="is-yellow">
              @for (item of likes; track $index) {
                <li>{{ item }}</li>
              }
            </ul>
          </div>
          <div class="criteria-section">
            <h3>❌ Ce qui ne me tente pas</h3>
            <ul class="is-red">
              @for (item of boundaries; track $index) {
                <li>{{ item }}</li>
              }
            </ul>
          </div>
        </div>

        @if (isTest()) {
          <app-card heading="✍️ Ton avis et te concernant">
            <form class="u-width100 u-flexColumn u-gap200">
              <div class="u-flexColumn u-gap100">
                <mat-label>Ton rôle préféré au lit ?</mat-label>
                <mat-radio-group [(ngModel)]="item.isVersa" [ngModelOptions]="{ standalone: true }" color="warn">
                  @for (role of roleList; track role.label) {
                    <mat-radio-button [value]="role.value">{{ role.label }}</mat-radio-button>
                  }
                </mat-radio-group>
              </div>
              <mat-form-field>
                <mat-label>Le sexe pour toi, c'est... ?</mat-label>
                <mat-select [(ngModel)]="item.needPenetration" [ngModelOptions]="{ standalone: true }">
                  @for (penetration of penetrationList; track penetration.label) {
                    <mat-option [value]="penetration.value">{{ penetration.label }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>L’orgasme est-il un impératif pour toi ?</mat-label>
                <mat-select [(ngModel)]="item.needOrgasm" [ngModelOptions]="{ standalone: true }">
                  @for (orgasm of orgasmList; track orgasm.label) {
                    <mat-option [value]="orgasm.value">{{ orgasm.label }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div class="u-flexColumn u-gap100">
                <mat-label>À seconde vue, je te plais physiquement à quel point ?</mat-label>
                <mat-slider [min]="0" [max]="10" [step]="1" [discrete]="true" [showTickMarks]="true" color="warn">
                  <input matSliderThumb [(ngModel)]="item.physical" [ngModelOptions]="{ standalone: true }" #slider />
                </mat-slider>
              </div>
              <div class="u-flexColumn u-gap100">
                <mat-label>Tu penses qu'on serait sexuellement compatible à quel point ?</mat-label>
                <mat-slider [min]="0" [max]="10" [step]="1" [discrete]="true" [showTickMarks]="true" color="warn">
                  <input matSliderThumb [(ngModel)]="item.sexe" [ngModelOptions]="{ standalone: true }" #slider />
                </mat-slider>
              </div>
            </form>
          </app-card>
        }
      }
    }

    @if (isTest()) {
      <div class="buttons">
        <button mat-flat-button (click)="previous()">
          <i class="icon-arrow-left"></i>
          Précédent
        </button>
        <button mat-flat-button color="primary" (click)="next()">
          Suivant
          <i class="icon-arrow-right"></i>
        </button>
      </div>
    }
  </div>
  @if (showPhoto) {
    <div class="modal" (click)="closePhoto()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="modal-close" mat-icon-button (click)="closePhoto()">
          <i class="icon-cross"></i>
        </button>
        <img src="assets/gallery/me-hot.jpg" alt="" />
      </div>
    </div>
  }
</section>
