@use 'mixins';

:host {
  display: contents;
}

.search {
  &::after {
    background-size: 15vw;
    background-position: 0% 20%;
    background-image: url('../../../../assets/illus/deco_11.png');
  }

  &::before {
    background-size: 15vw;
    background-position: 100% 70%;
    background-image: url('../../../../assets/illus/deco_12.png');
  }
}

.trait-item {
  display: flex;
  gap: var(--spe-spacing-100);
  padding: var(--spe-spacing-100);
  border-left: var(--spe-spacing-50) solid var(--trait-color);
}

.trait-text {
  display: flex;
  flex-direction: column;
  gap: var(--spe-spacing-50);
}

.trait-icon {
  position: relative;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
