@use 'mixins';

:host {
  display: contents;
}

.trait-item {
  display: flex;
  gap: var(--spe-spacing-100);
  padding: var(--spe-spacing-100);
  border-left: var(--spe-spacing-50) solid var(--trait-color);
}

.trait-text {
  display: flex;
  flex-direction: column;
  gap: var(--spe-spacing-50);
}

.trait-icon {
  position: relative;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.criteria-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spe-spacing-400);
}

.criteria-section {
  display: flex;
  flex-direction: column;
  gap: var(--spe-spacing-100);
  padding: var(--spe-spacing-200);
  color: var(--spe-black-color);
  border-radius: var(--spe-radius-m);
  background-color: var(--spe-white-color);

  h3 {
    display: flex;
    align-items: center;
    gap: var(--spe-spacing-200);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding: var(--spe-spacing-100) 0;
      padding-left: var(--spe-spacing-200);
      border-bottom: 0.1rem solid rgba(#040404, 0.2);

      &:before {
        content: '•';
        position: absolute;
        left: 0;
        font-weight: bold;
        color: var(--spe-red-color);
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
