@use 'sass:color';

$white: #f8f8f8;
$black: #040404;
$blue: #339cb1;
$green: #23964f;
$yellow: #fded00;
$red: #cf4e3f;

:root {
  --spe-white-color: #{$white};
  --spe-black-color: #{$black};
  --spe-blue-color: #{$blue};
  --spe-green-color: #{$green};
  --spe-yellow-color: #{$yellow};
  --spe-red-color: #{$red};
}
