@use 'mixins';

:root {
  --spe-font: 'Montserrat', Helvetica, sans-serif;
  --spe-font-title: 'Quicksand', Helvetica, sans-serif;

  --spe-font-size-xxl: 3.2rem;
  --spe-line-height-xxl: 3.8rem;
  --spe-font-size-xl: 2rem;
  --spe-line-height-xl: 2.2rem;
  --spe-font-size-l: 1.25rem;
  --spe-line-height-l: 1.4rem;
  --spe-font-size-m: 1rem;
  --spe-line-height-m: 1.325rem;
  --spe-font-size-s: 0.8rem;
  --spe-line-height-s: 1.1rem;

  @include mixins.mobile-only {
    --spe-font-size-xxl: 2rem;
    --spe-line-height-xxl: 2.2rem;
    --spe-font-size-xl: 1.4rem;
    --spe-line-height-xl: 1.6rem;
  }
}

.u-textBold {
  font-weight: bold;
}

.u-textLeft {
  text-align: left !important;
}

.u-textCenter {
  text-align: center !important;
}

.u-textRight {
  text-align: right !important;
}

.u-textItalic {
  font-style: italic;
}

.u-textCapitalize {
  text-transform: capitalize;
}

.u-textUppercase {
  text-transform: uppercase;
}

.u-textLowercase {
  text-transform: lowercase;
}

.u-textEllipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.u-textXXL {
  font-size: var(--spe-font-size-xxl);
}

.u-textRed {
  color: var(--spe-red-color);
}

.u-textYellow {
  color: var(--spe-yellow-color);
}

.u-textBlue {
  color: var(--spe-blue-color);
}
