@use 'mixins';

.u-width100 {
  width: 100% !important;
}

.u-width50 {
  width: 50% !important;

  @include mixins.tablet-only {
    width: 100% !important;
  }
}

.u-opacity1 {
  opacity: 1 !important;
}

.u-opacity05 {
  opacity: 0.5;
}

.u-rounded {
  border-radius: 50%;
}

.u-radius {
  border-radius: var(--spe-radius-m);
}

.u-pointer {
  cursor: pointer;
}

.u-mask {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.u-underline {
  position: relative;
  z-index: 0;

  &:has(i) {
    &::before {
      left: var(--spe-spacing-600);
      width: calc(85% - var(--spe-spacing-600));
    }
  }

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 85%;
    height: 0.75rem;
    transform: skew(-30deg) translate(0, calc(50% + 0.25rem));
    background-color: var(--spe-pink-color);
    z-index: -1;
    content: '';

    @include mixins.mobile-only {
      left: 50% !important;
      width: 85% !important;
      transform: skew(-30deg) translate(-50%, calc(50% + 0.25rem)) !important;
    }
  }
}
