<div
  class="grid-column card mod-actions u-displayFlex u-flexDirectionColumn pr-u-gap50"
  [class.mod-succeed]="logLinked"
  [attr.style]="'--grid-colspanAtMediaMinS: 2; --grid-colspanAtMediaMinM: 1'"
>
  <div class="u-displayFlex u-justifyContentSpaceBetween u-alignItemsCenter">
    <h4>{{ quest().name }}</h4>
    @if (logLinked) {
      <lu-status-badge palette="success" label="Validée" />
    } @else if (!isOptionnal()) {
      @if (isOld()) {
        <lu-status-badge palette="neutral" label="En retard" />
      } @else {
        <lu-status-badge palette="product" label="En cours" />
      }
    }
  </div>
  <p>{{ quest().description }}</p>
  <div class="u-displayFlex u-flexWrapWrap pr-u-gap100">
    <quest-rewards [quest]="quest()" [forced]="logLinked ? 'success' : null" />
  </div>
  <div class="u-displayFlex u-justifyContentFlexEnd pr-u-gap50">
    @if (!logLinked) {
      @if (!isOptionnal()) {
        <button type="button" luButton size="S" [palette]="isOld() ? 'neutral' : 'product'" (click)="completeQuest()">
          Valider
        </button>
      } @else {
        <button
          type="button"
          luButton="outlined"
          size="S"
          [palette]="isOld() ? 'neutral' : 'product'"
          (click)="completeQuest()"
        >
          Valider
        </button>
      }
    } @else {
      <button
        type="button"
        luButton="text"
        size="S"
        palette="success"
        luTooltip="Annuler la validation"
        luTooltipOnlyForDisplay
        (click)="cancelQuest()"
      >
        <lu-icon icon="close" />
      </button>
    }
  </div>
</div>
