<section class="section is-small is-red" appObserveSection id="couple">
  <div class="section-container">
    <h2 class="section-title">💕 Comment je suis en couple</h2>
    <p class="section-subtitle">Un aperçu de ma façon d'aimer</p>

    <div class="list">
      <h3>Les 5 langages de l'amour et moi</h3>
      <div class="list-grid is-big">
        <div *ngFor="let language of relationshipLanguages" class="list-item language-item">
          <div class="trait-icon">
            {{ language.icon }}
          </div>
          <h4>{{ language.title }}</h4>
          <p>{{ language.description }}</p>
        </div>
      </div>
    </div>

    <app-note icon="⏳" heading="Relations passées" [isDark]="true">
      J’ai eu 4 relations longues, dont 2 qui ont duré près de 3 ans. Je suis encore en contact avec ces 2 exs, mais je
      précise qu'on sait exactement pourquoi on a rompu et ça reste amical. J'essaie de m’investir vraiment dans mes
      relations, et je sais aujourd’hui où je mets les pieds !
    </app-note>

    <!--app-note icon="💥​​" heading="Comment je gère les conflits" [isDark]="true">
      En couple, je préfère désamorcer rapidement les tensions plutôt que de les laisser traîner. J’ai d'abord besoin
      d’un peu de recul avant de discuter, mais je reviens toujours pour en parler calmement et chercher une solution
      ensemble.<br />
      Finir par des câlins et ne jamais dormir fâchés !
    </app-note-->
  </div>
</section>
