<section class="relationship section is-small is-red has-illus" [class.is-max]="isTest()" appObserveSection id="couple">
  <div class="section-container">
    <h2 class="section-title">💕 Comment je suis en couple</h2>
    <p class="section-subtitle">Un aperçu de ma façon d'aimer</p>

    <div class="list">
      <h3>Les 5 langages de l'amour et moi</h3>
      <div class="list-grid is-big">
        <div *ngFor="let language of relationshipLanguages" class="list-item language-item">
          <div class="trait-icon">
            {{ language.icon }}
          </div>
          <h4>{{ language.title }}</h4>
          <p>{{ language.description }}</p>
        </div>
      </div>
    </div>

    <app-note icon="⏳" heading="Relations passées" [isDark]="true">
      J’ai eu 4 longues relations, dont 2 qui ont duré près de 3 ans. J'essaie de m’investir vraiment dans mes
      relations, je sais pourquoi elles se sont finies, et je sais aujourd’hui où je mets les pieds !
    </app-note>

    @if (isTest()) {
      <app-card heading="✍️ Te concernant">
        <form class="u-width100 u-flexColumn u-gap200">
          <mat-form-field>
            <mat-label>Ton premier langage d'amour</mat-label>
            <mat-select [(ngModel)]="item.first" [ngModelOptions]="{ standalone: true }">
              @for (language of relationshipLanguages; track language.title) {
                <mat-option [value]="language.value">{{ language.title }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ton second langage d'amour</mat-label>
            <mat-select [(ngModel)]="item.second" [ngModelOptions]="{ standalone: true }">
              @for (language of relationshipLanguages; track language.title) {
                <mat-option [value]="language.value">{{ language.title }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="u-flexColumn u-gap100">
            <mat-label>Tes relations passées</mat-label>
            <mat-radio-group [(ngModel)]="item.relations" [ngModelOptions]="{ standalone: true }" color="warn">
              @for (number of relationshipNumber; track number.label) {
                <mat-radio-button [value]="number.value">{{ number.label }}</mat-radio-button>
              }
            </mat-radio-group>
          </div>
        </form>
      </app-card>
      <div class="buttons">
        <button mat-flat-button (click)="previous()">
          <i class="icon-arrow-left"></i>
          Précédent
        </button>
        <button mat-flat-button color="primary" (click)="next()">
          Suivant
          <i class="icon-arrow-right"></i>
        </button>
      </div>
    }
  </div>
</section>
