@if (!isTest) {
  <main-header (outChoice)="choice(true)"></main-header>
}
@if (!isTest || currentStep === 1) {
  <main-gallery [isTest]="isTest" (outNext)="next()"></main-gallery>
}
@if (!isTest || currentStep === 2) {
  <main-hobbies [isTest]="isTest" (outPrevious)="previous()" (outNext)="next()"></main-hobbies>
}
@if (!isTest || currentStep === 3) {
  <main-project [isTest]="isTest" (outPrevious)="previous()" (outNext)="next()"></main-project>
}
@if (!isTest || currentStep === 4) {
  <main-stats [isTest]="isTest" (outPrevious)="previous()" (outNext)="next()"></main-stats>
}
@if (!isTest || currentStep === 5) {
  <main-relationship [isTest]="isTest" (outPrevious)="previous()" (outNext)="next()"></main-relationship>
}
@if (!isTest || currentStep === 6) {
  <main-search [isTest]="isTest" (outPrevious)="previous()" (outNext)="next()"></main-search>
}
@if (!isTest || currentStep === 7) {
  <main-hot [isTest]="isTest" (outPrevious)="previous()" (outNext)="next()"></main-hot>
}
@if (!isTest || currentStep === 8) {
  <main-contact [isTest]="isTest" (outPrevious)="previous()"></main-contact>
}
<app-navigation [isTest]="isTest" (outReset)="choice(false)"></app-navigation>
