@use 'mixins';

:host {
  display: contents;
}

.header {
  .header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spe-spacing-100);
    text-align: center;
  }

  .header-image {
    max-width: 16rem;

    @include mixins.tablet-only {
      max-width: 12rem;
    }

    @include mixins.mobile-only {
      max-width: 8rem;
    }
  }
}
