@use 'mixins';

:host {
  display: contents;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: var(--spe-block-padding) var(--spe-inline-padding);

  .mainHeader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spe-spacing-200);
    text-align: center;
  }

  .mainHeader-container-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spe-spacing-100);
    text-align: center;
  }

  .mainHeader-image {
    max-width: 16rem;
  }
}
