<section class="header section is-small background" appObserveSection id="intro">
  <header class="section-container">
    <div class="header-titles">
      <img class="header-image" src="assets/logo.png" alt="" />
      <h1>Bouh !<br />Moi c'est <span class="u-textBlue">Nicholas</span></h1>
      <h2>Et voici mon CV pour <span class="u-textRed">Partenaire de Vie</span></h2>
    </div>
    <p class="u-textBold u-textCenter">
      Tu trouveras ici un peu de moi, un guide sur ce que j'aime, ce que je fais, comment je suis et ce que j'attends
      d'une relation.
    </p>
    <app-note icon="💡" heading="Pourquoi ce site ?" [isSmall]="true">
      En tant que gay, je suis fatigué des applications (Grindr, Tinder...), je voulais trouver un moyen original de me
      présenter plus en détails... et en même tant d'utiliser ma passion pour la création de site web !
    </app-note>
    <div class="header-buttons">
      <a href="#galerie" mat-flat-button color="primary">
        Me découvrir
        <i class="icon-chevron-down"></i>
      </a>
      <!--button mat-flat-button color="primary">
        Tester ta compatibilité
        <i class="icon-star-full"></i>
      </button-->
    </div>
  </header>
</section>
