@use 'mixins';

:host {
  display: contents;
}

.mainHeader {
  min-height: 100vh;

  .mainHeader-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spe-spacing-100);
    text-align: center;
  }

  .mainHeader-image {
    max-width: 16rem;

    @include mixins.tablet-only {
      max-width: 12rem;
    }

    @include mixins.mobile-only {
      max-width: 8rem;
    }
  }

  .mainHeader-buttons {
    display: flex;
    align-items: center;
    gap: var(--spe-spacing-200);

    @include mixins.mobile-only {
      flex-direction: column;
    }
  }
}
