//Palettes
@forward 'styles/_palettes.scss';

// Icons
@use '@lucca-front/icons/src/main' as _iconsMain;

// SCSS
@use '@lucca-front/scss/src/main' as _scssMain;
@use '@lucca-front/scss/src/components/button';
@use '@lucca-front/scss/src/components/card';
@use '@lucca-front/scss/src/components/mobileHeader';
@use '@lucca-front/scss/src/components/title';

// Angular
@use '@lucca-front/ng/src/main' as _ngMain;

@forward 'styles/_components.scss';
@forward 'styles/_utils.scss';
