@use 'mixins';

:host {
  display: contents;
}

.project {
  &::after {
    background-size: 15vw;
    background-position: bottom left;
    background-image: url('../../../../assets/illus/deco_03.png');
  }

  &::before {
    background-size: 15vw;
    background-position: top right;
    background-image: url('../../../../assets/illus/deco_08.png');
  }

  .project-image {
    max-height: 12rem;
    width: auto;
    border-radius: var(--spe-radius-s);

    @include mixins.tablet-only {
      max-height: 8rem;
      margin-right: auto;
    }

    @include mixins.mobile-only {
      max-height: none;
      max-width: 65%;
      margin-right: auto;
    }
  }
}
