@use 'mixins';

:host {
  display: contents;
}

.mainProject {
  position: relative;

  .mainProject-image {
    max-height: 12rem;
    width: auto;

    @include mixins.tablet-only {
      max-height: 8rem;
      margin-right: auto;
    }
  }
  /*
  &::after {
    background-position: bottom right;
    background-image: url('../../../../assets/perso1.png');
  }

  &::before {
    background-position: center left;
    background-image: url('../../../../assets/perso2.png');
  }
  */

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 25vw;
    background-repeat: no-repeat;

    @include mixins.tablet-only {
      display: none;
    }
  }
}
