<div class="project section is-small is-red">
  <div class="section-container">
    <h2 class="section-title">🚀​ Travail et projets personnels</h2>
    <p class="section-subtitle">Sur quoi je travaille le jour et la nuit, héhé.</p>
    <card heading="Développeur UI 'Lucca'" subtitle="Intégrateur d'interface web">
      <div class="u-flexRow u-flexColumn-on-tablet u-gap400">
        <img class="project-image" src="assets/projects/project_01.png" alt="" />
        <div>
          <p>
            <b>Qu'est ce que je fais ?</b>
            <br />Je code en Angular / HTML / SCSS à partir de maquettes, je challenge l'UI/UX et vérifie que le site
            soit accessible. Le tout pour des sites de SIRH !
          </p>
          <a
            mat-flat-button
            color="primary"
            class="u-marginTop200"
            href="https://www.linkedin.com/in/nicholas-brun-spefire"
            target="_blank"
            rel="noopener noreferrer"
          >
            Voir mon LinkedIn
            <i class="icon-external-link"></i>
          </a>
        </div>
      </div>
    </card>
    <card heading="Maître Rôliste 'Le Monde d'Arlénor'" subtitle="Projet d'univers et de Jeu de Rôle">
      <div class="u-flexRow u-flexColumn-on-tablet u-gap400">
        <img class="project-image" src="assets/projects/project_02.png" alt="" />
        <div>
          <p>
            <b>Qu'est ce que c'est ?</b>
            <br />Le Monde d'Arlénor est un jeu de rôle français mêlant magie ancienne, tensions entre peuples, secrets
            divins... et où chaque choix peut changer le Destin du monde.
          </p>
          <a
            mat-flat-button
            color="primary"
            class="u-marginTop200"
            href="https://arlenor.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            Voir mon site
            <i class="icon-external-link"></i>
          </a>
        </div>
      </div>
    </card>
    <card heading="Artiste 'Spefire'" subtitle="Illustrateur auto-didacte">
      <div class="u-flexRow u-flexColumn-on-tablet u-gap400">
        <img class="project-image" src="assets/projects/project_03.png" alt="" />
        <div>
          <p>
            <b>Qu'est ce que je dessine ?</b>
            <br />Je réalise principalement des illustrations numériques, autour de personnages fantasy, quelques
            fanarts, ou juste pour partager / évacuer des émotions.
          </p>
          <div class="u-flexRow u-flexWrap u-marginTop200 u-gap200">
            <a
              mat-flat-button
              color="primary"
              href="https://www.instagram.com/spefireflies"
              target="_blank"
              rel="noopener noreferrer"
            >
              Voir mon Instagram
              <i class="icon-external-link"></i>
            </a>
            <a
              mat-flat-button
              color="primary"
              href="https://tapas.io/episode/1551825"
              target="_blank"
              rel="noopener noreferrer"
            >
              Voir mes Comic-Strips
              <i class="icon-external-link"></i>
            </a>
          </div>
        </div>
      </div>
    </card>
  </div>
</div>
