@use 'mixins';

:host {
  display: contents;
}

.project {
  &::after {
    background-size: 13.5vw;
    background-position: 5% 92.5%;
    background-image: url('../../../../assets/illus/deco_03.png');
  }

  &::before {
    background-size: 12vw;
    background-position: 95% 15%;
    background-image: url('../../../../assets/illus/deco_08.png');
  }

  .project-image {
    max-height: 12rem;
    width: auto;
    border-radius: var(--spe-radius-s);

    @include mixins.tablet-only {
      max-height: 8rem;
      margin-right: auto;
    }

    @include mixins.mobile-only {
      max-height: none;
      max-width: 65%;
      margin-right: auto;
    }
  }
}
