<section class="project section is-small is-red" [class.is-max]="isTest()" appObserveSection id="projets">
  <div class="section-container">
    <h2 class="section-title">🚀​ Travail et projets personnels</h2>
    <p class="section-subtitle">Sur quoi je travaille le jour et la nuit, héhé.</p>
    <app-card heading="Développeur UI 'Lucca'" subtitle="Intégrateur d'interface web">
      <img class="project-image" src="assets/projects/project_01.jpg" alt="" />
      <div>
        <p>
          <b>Qu'est ce que je fais ?</b>
          <br />Je code en Angular / HTML / SCSS à partir de maquettes, je challenge l'UI/UX et vérifie que le site soit
          accessible. Le tout pour des sites de SIRH !
        </p>
        <a
          mat-flat-button
          color="primary"
          class="u-marginTop200"
          href="https://www.linkedin.com/in/nicholas-brun-spefire"
          target="_blank"
          rel="noopener noreferrer"
        >
          Voir mon LinkedIn
          <i class="icon-external-link"></i>
        </a>
      </div>
    </app-card>
    <app-card heading="Maître Rôliste 'Le Monde d'Arlénor'" subtitle="Projet d'univers et de Jeu de Rôle">
      <img class="project-image" src="assets/projects/project_02.jpg" alt="" />
      <div>
        <p>
          <b>Qu'est ce que c'est ?</b>
          <br />Le Monde d'Arlénor est un jeu de rôle français mêlant magie ancienne, tensions entre peuples, secrets
          divins... et où chaque choix peut changer le Destin du monde.
        </p>
        <a
          mat-flat-button
          color="primary"
          class="u-marginTop200"
          href="https://arlenor.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          Voir mon site
          <i class="icon-external-link"></i>
        </a>
      </div>
    </app-card>
    <app-card heading="Artiste 'Spefire'" subtitle="Illustrateur auto-didacte">
      <img class="project-image" src="assets/projects/project_03.jpg" alt="" />
      <div>
        <p>
          <b>Qu'est ce que je dessine ?</b>
          <br />Je réalise principalement des illustrations numériques, autour de personnages fantasy, quelques fanarts,
          ou juste pour partager / évacuer des émotions.
        </p>
        <div class="u-flexRow u-flexWrap u-marginTop200 u-gap200">
          <a
            mat-flat-button
            color="primary"
            href="https://www.instagram.com/spefireflies"
            target="_blank"
            rel="noopener noreferrer"
          >
            Voir mon Instagram
            <i class="icon-external-link"></i>
          </a>
          <a
            mat-flat-button
            color="primary"
            href="https://tapas.io/episode/1551825"
            target="_blank"
            rel="noopener noreferrer"
          >
            Voir mes Comic-Strips
            <i class="icon-external-link"></i>
          </a>
        </div>
      </div>
    </app-card>
    @if (isTest()) {
      <app-card heading="✍️ Te concernant">
        <form class="u-width100 u-flexColumn u-gap200">
          <mat-slide-toggle [(ngModel)]="item.isDev" [ngModelOptions]="{ standalone: true }" color="primary">
            Tu es développeur/se aussi ?
          </mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="item.isRP" [ngModelOptions]="{ standalone: true }" color="primary">
            Tu as déjà joué ou masteurisé du JDR ?
          </mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="item.wantRP" [ngModelOptions]="{ standalone: true }" color="primary">
            @if (!item.isRP) {
              Tu aimerais essayer le JDR ?
            } @else {
              Tu aimerais essayer mon JDR ?
            }
          </mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="item.isArt" [ngModelOptions]="{ standalone: true }" color="primary">
            Tu es artiste aussi ?
          </mat-slide-toggle>
        </form>
      </app-card>
      <div class="buttons">
        <button mat-flat-button (click)="previous()">
          <i class="icon-arrow-left"></i>
          Précédent
        </button>
        <button mat-flat-button color="primary" (click)="next()">
          Suivant
          <i class="icon-arrow-right"></i>
        </button>
      </div>
    }
  </div>
</section>
