<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header
      label="Furniture checklist"
      description="Une checklist de meubles disponibles dans Palia."
      container
    >
    </lu-page-header>
  </ng-container>

  <lu-main-layout-block>
    <lu-container class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap200">
      <lu-filter-bar>
        <lu-segmented-control
          *luFilterPillAddonBefore
          small
          [(ngModel)]="missingFilter"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="missingFilter.set($event)"
        >
          <lu-segmented-control-filter [label]="labelAll" [value]="false" />
          <lu-segmented-control-filter [label]="labelMissing" [value]="true" />
          <ng-template #labelAll>Tous <lu-numeric-badge [value]="1000" /></ng-template>
          <ng-template #labelMissing>Manquants <lu-numeric-badge [value]="1000" /></ng-template>
        </lu-segmented-control>
        <lu-filter-pill label="Collections" name="collections">
          <lu-multi-select
            [(ngModel)]="collectionsFilter"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="collectionsFilter.set($event)"
          />
        </lu-filter-pill>
        <lu-form-field label="Recherche" hiddenLabel>
          <lu-text-input
            placeholder="Rechercher..."
            [(ngModel)]="searchFilter"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="searchFilter.set($event)"
            hasSearchIcon
            hasClearer
          />
        </lu-form-field>
        <div class="pr-u-displayFlex pr-u-gap100" *luFilterPillAddonAfter>
          <button type="button" size="S" luButton="text">Tout réduire</button>
          <button type="button" size="S" luButton="outlined">Tout développer</button>
        </div>
      </lu-filter-bar>

      <div class="dashboard-box">
        @if (filteredCollections().length > 0) {
          @for (collection of filteredCollections(); track $index) {
            @let isOpen = listOpennedCollections().includes(collection.code);
            <lu-divider class="pr-u-margin0">
              <button type="button" luButton="text" class="dashboard-box-action" (click)="toggleCollection(collection)">
                <div
                  class="dashboard-point"
                  [style.background-color]="'var(--palettes-' + collection.palette + '-' + collection.color + ')'"
                ></div>
                <span class="pr-u-h2">{{ collection.name }}</span>
                <lu-icon [icon]="isOpen ? 'arrowChevronTop' : 'arrowChevronBottom'" size="XL" />
              </button>
            </lu-divider>
            <div [class.pr-u-displayNone]="!isOpen">
              <lu-grid columns="6">
                @for (furniture of collection.items; track $index) {
                  @let isChecked = listSelectedItems().includes(furniture.code);
                  <lu-grid-column>
                    <div
                      class="dashboard-card card mod-action"
                      [style.border-left-color]="
                        isChecked
                          ? 'var(--palettes-' + collection.palette + '-' + collection.color + ')'
                          : 'var(--palettes-neutral-50)'
                      "
                      (click)="toggleSelection(furniture)"
                    >
                      <img [src]="furniture.image" height="72" width="72" />
                      <p class="pr-u-h4">{{ furniture.name }}</p>
                      <lu-form-field class="dashboard-card-checkbox" label="Crafted" hiddenLabel>
                        <lu-checkbox-input [ngModel]="isChecked" checklist />
                      </lu-form-field>
                    </div>
                  </lu-grid-column>
                }
              </lu-grid>
            </div>
          }
        } @else {
          <lu-empty-state-section
            hx="3"
            icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconSearch.svg"
            heading="Aucun résultat"
            description="Peut-être modifier les filtres de recherche ?"
            palette="product"
          >
          </lu-empty-state-section>
        }
      </div>
    </lu-container>
  </lu-main-layout-block>
</lu-main-layout>
