<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header
      label="Furniture checklist"
      description="Check your furniture from all Palia's collections."
      container
    ></lu-page-header>
  </ng-container>

  <lu-main-layout-block>
    <lu-container class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap200">
      @let responsive = { colspanAtMediaMinS: 1 };
      <lu-grid columns="3">
        <lu-grid-column colspan="3" [responsive]="responsive">
          <lu-highlight-data
            heading="Finished collections"
            [value]="finishedCount() + ' sur ' + listCollections().length"
            [bubble]="3"
            illustration="medallon"
            size="S"
            theme="dark"
            palette="success"
          />
        </lu-grid-column>
        <lu-grid-column colspan="3" [responsive]="responsive">
          <lu-highlight-data
            heading="Items missing"
            [value]="missedCount().toString()"
            [bubble]="1"
            illustration="manifying-glass"
            size="S"
            theme="dark"
            palette="poplee"
          />
        </lu-grid-column>
        <lu-grid-column colspan="3" [responsive]="responsive">
          <lu-highlight-data
            heading="Game version"
            [value]="collectionsVersion"
            [bubble]="3"
            illustration="calendar"
            size="S"
            theme="dark"
            palette="lucca"
          />
        </lu-grid-column>
      </lu-grid>
      <lu-filter-bar>
        <lu-segmented-control
          *luFilterPillAddonBefore
          small
          [(ngModel)]="typeFilter"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="typeFilter.set($event)"
        >
          <lu-segmented-control-filter label="All" [value]="null" />
          <lu-segmented-control-filter [label]="labelEvent" [value]="typesCollection.EVENT" />
          <lu-segmented-control-filter [label]="labelSet" [value]="typesCollection.SET" />
          <lu-segmented-control-filter [label]="labelMisc" [value]="typesCollection.MISC" />
          <ng-template #labelEvent>Events <lu-numeric-badge [value]="eventCount()" /></ng-template>
          <ng-template #labelSet>Sets <lu-numeric-badge [value]="setCount()" /></ng-template>
          <ng-template #labelMisc>Others <lu-numeric-badge [value]="miscCount()" /></ng-template>
        </lu-segmented-control>
        <lu-filter-pill label="Collections" name="collections">
          <lu-multi-select
            #selectRef
            clearable
            filterPillLabelPlural="collections selected"
            [options]="sortedCollections()"
            [(ngModel)]="collectionsFilter"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="collectionsFilter.set($event)"
            >"
            <ng-container *luMultiDisplayer="let values; select: selectRef">
              <lu-multi-select-content-displayer>
                @if (values.length > 1) {
                  {{ values.length }} collections selected
                } @else if (values.length === 1) {
                  {{ values.length }} collection selected
                } @else {
                  All collections
                }
              </lu-multi-select-content-displayer>
            </ng-container>
            <ng-container *luOption="let collection; select: selectRef">
              <p class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap100">
                <span>{{ collection.name }}</span>
                <span
                  class="option-point"
                  [style.background-color]="'var(--palettes-' + collection.palette + '-' + collection.color + ')'"
                ></span>
              </p>
            </ng-container>
          </lu-multi-select>
        </lu-filter-pill>
        <lu-form-field label="Search" hiddenLabel>
          <lu-text-input
            placeholder="Search..."
            hasClearer
            hasSearchIcon
            [(ngModel)]="searchFilter"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="searchFilter.set($event)"
          />
        </lu-form-field>
        <lu-filter-pill label="Only the missings">
          <lu-checkbox-input
            [(ngModel)]="missingFilter"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="missingFilter.set($event)"
          />
        </lu-filter-pill>
        <div class="pr-u-displayFlex pr-u-gap100" *luFilterPillAddonAfter>
          <button type="button" size="S" luButton="outlined" (click)="collapseAll()">Collapse all</button>
          <button type="button" size="S" luButton="outlined" palette="product" (click)="expandAll()">Expand all</button>
        </div>
      </lu-filter-bar>

      <div class="dashboard-box">
        @if (filteredCollections().length > 0) {
          @for (collection of filteredCollections(); track $index) {
            @let isOpen = listOpennedCollections().includes(collection.code);
            <div class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap200">
              <button type="button" luButton="text" class="dashboard-box-action" (click)="toggleCollection(collection)">
                <lu-icon [icon]="isOpen ? 'arrowChevronTop' : 'arrowChevronBottom'" size="XL" />
                <span class="pr-u-h2 pr-u-ellipsis">{{ collection.name }}</span>
                <span
                  class="dashboard-point"
                  [style.background-color]="'var(--palettes-' + collection.palette + '-' + collection.color + ')'"
                ></span>
              </button>
              <lu-divider class="pr-u-margin0 pr-u-width100%" />
            </div>
            <div [class.pr-u-displayNone]="!isOpen">
              @let responsive = { colspanAtMediaMinXS: 3, colspanAtMediaMinM: 2, colspanAtMediaMinXL: 1 };
              <lu-grid columns="6">
                @for (furniture of collection.items; track furniture.code) {
                  @let isChecked = listSelectedItems().includes(furniture.code);
                  <lu-grid-column colspan="6" [responsive]="responsive">
                    <div
                      class="dashboard-card card mod-action"
                      [style.border-left-color]="
                        isChecked
                          ? 'var(--palettes-' + collection.palette + '-' + collection.color + ')'
                          : 'var(--palettes-neutral-50)'
                      "
                      (click)="toggleSelection(furniture)"
                    >
                      <img [src]="furniture.image" height="72" width="72" loading="lazy" decoding="async" />
                      <p class="pr-u-h4">{{ furniture.name }}</p>
                      <lu-form-field class="dashboard-card-checkbox" label="Crafted" hiddenLabel>
                        <lu-checkbox-input [ngModel]="isChecked" checklist />
                      </lu-form-field>
                    </div>
                  </lu-grid-column>
                }
              </lu-grid>
            </div>
          }
        } @else {
          <lu-empty-state-section
            hx="3"
            icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconSearch.svg"
            heading="No result"
            description="Try to modify the filters ?"
            palette="product"
          >
          </lu-empty-state-section>
        }
      </div>
    </lu-container>
  </lu-main-layout-block>
</lu-main-layout>
