// Buttons...
.mdc-button {
  --mdc-filled-button-container-shape: 24px !important;
  height: auto !important;
  padding: 12px 16px !important;
  cursor: pointer;

  .mdc-button__label {
    display: inline-flex;
    align-items: center;
    gap: var(--spe-spacing-100);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.mdc-icon-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 36px !important;
  --mdc-icon-button-icon-size: 32px !important;
  padding: 2px !important;
}

.mat-mdc-outlined-button {
  text-transform: uppercase !important;

  &:not(:disabled) {
    border-color: var(--mdc-outlined-button-label-text-color, inherit) !important;
  }
}
