@use 'mixins';

// Popup
.cdk-overlay-pane {
  max-width: 50vw !important;

  @include mixins.mobile-only {
    max-width: 90vw !important;
  }
}

// Toggle...
.mdc-switch__icon {
  display: none;
}

// Form...
.mat-mdc-form-field {
  width: 100%;
}

// Checkbox...
.mdc-checkbox {
  box-sizing: content-box !important;
}

// Radio...
.mdc-radio {
  box-sizing: content-box !important;
}

// Accordion...
.mat-expansion-panel {
  border: var(--spe-border) !important;
  background: var(--spe-black-color) !important;

  &:first-of-type {
    border-top-right-radius: var(--spe-radius-m) !important;
    border-top-left-radius: var(--spe-radius-m) !important;
  }

  &:last-of-type {
    border-bottom-right-radius: var(--spe-radius-m) !important;
    border-bottom-left-radius: var(--spe-radius-m) !important;
  }
}

// Steppers...
.mat-stepper-horizontal,
.mat-stepper-vertical {
  background: none !important;
}

// Tabs
.mat-mdc-tab-group.is-header {
  .mat-mdc-tab-body {
    padding: var(--spe-spacing-200);
  }

  .mdc-tab {
    height: auto !important;
    padding: var(--spe-spacing-200) var(--spe-spacing-300) !important;
  }

  .mdc-tab__text-label {
    font-size: var(--spe-font-size-xl);
    line-height: var(--spe-font-size-xl);
    font-weight: normal;
    text-transform: uppercase;
    color: var(--spe-yellow-color);
  }
}

.mat-mdc-tab-group:not(.is-header) {
  .mat-mdc-tab-header {
    margin-bottom: var(--spe-spacing-200);
    border-radius: var(--spe-radius-m);
    background: var(--spe-background-black-dark);
  }
}
