<div class="welcome-people">
  <div class="u-width50">
    <card heading="Invités" [isSubMain]="true" [isCenter]="true">
      <div class="welcome-people-grid">
        @for (i of [].constructor(17); track $index) {
          <img src="assets/guests/{{ $index % 8 }}.jpg" alt="" />
        }
        <p class="welcome-people-item">Et bien + encore !</p>
      </div>
      <p>
        Retrouvez nos invités exceptionnels : artistes, auteurs, comédiens, vidéastes et bien plus encore ! Venez à leur
        rencontre pour des échanges, des dédicaces et des moments inoubliables.
      </p>
    </card>
    <div class="u-flexRow u-flexColumn-on-tablet u-alignCenter u-justifyCenter u-marginTop200">
      <a mat-flat-button color="primary" routerLink="/invites">
        Découvrir tous les invités
        <i class="icon-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
